.c-heading {
    color: $blue-text;
    line-height: $line-height-sm;
    margin-bottom: $grid-base / 2;
    &--level-1 {
        font-size: $font-size-3;
        @include large-up {
            font-size: $font-size-1;
        }
    }
    &--level-2 {
        font-size: $font-size-4;
        @include large-up {
            font-size: $font-size-2;
        }
    }
    &--level-3 {
        font-size: $font-size-5;
        @include large-up {
            font-size: $font-size-3;
        }
    }
    &--level-4 {
        font-size: $font-size-6;
    }
    &--level-5 {
        font-size: $font-size-7;
    }
    &--level-6 {
        font-size: $font-size-8;
    }
    &--upper {
        text-transform: uppercase;
    }
    &--white {
        color: $white;
    }
}