.c-icon-box {
    text-align: center;
    &__image {
        display: flex;
        justify-content: center;
        height: $grid-base * 6; // Highest icon has that height
        margin-bottom: $grid-base * 2.5;
    }
    &__icon {
        align-self: center;
    }
    &__text {
        font-size: $font-size-7;
        margin-top: $grid-base * 1.5;
    }
}