*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 0.875rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    color: #444444;
    text-decoration: underline; }

.o-col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 800px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .o-col--md33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 800px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .o-col--lg33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 1200px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 800px) {
    .o-container {
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .o-container {
      max-width: 1140px; } }

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 800px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  width: 220px; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn--primary {
    background-color: #d3eafa;
    color: #3b99e1; }
    .c-btn--primary:hover {
      background-color: #8ec9f2;
      color: #ffffff; }
  .c-btn--accent {
    background-color: #60dc64;
    color: #ffffff; }
    .c-btn--accent:hover {
      background-color: #2bc430;
      color: #ffffff; }
  .c-btn--dark-blue {
    background-color: #3e5cc5;
    color: #ffffff; }
    .c-btn--dark-blue:hover {
      background-color: #2a408c;
      color: #ffffff; }
  .c-btn--light {
    background-color: #ffffff;
    color: #3b99e1; }
    .c-btn--light:hover {
      background-color: #d9d9d9;
      color: #3b99e1; }
  .c-btn--outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff; }
    .c-btn--outline:hover {
      color: #d9d9d9;
      border: 2px solid #d9d9d9; }

.c-heading {
  color: #3b99e1;
  line-height: 1.2;
  margin-bottom: 5px; }
  .c-heading--level-1 {
    font-size: 1.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level-1 {
        font-size: 3rem; } }
  .c-heading--level-2 {
    font-size: 1.125rem; }
    @media (min-width: 1200px) {
      .c-heading--level-2 {
        font-size: 2rem; } }
  .c-heading--level-3 {
    font-size: 1rem; }
    @media (min-width: 1200px) {
      .c-heading--level-3 {
        font-size: 1.5rem; } }
  .c-heading--level-4 {
    font-size: 0.875rem; }
  .c-heading--level-5 {
    font-size: 0.75rem; }
  .c-heading--level-6 {
    font-size: 0.625rem; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--white {
    color: #ffffff; }

.c-icon-box {
  text-align: center; }
  .c-icon-box__image {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 25px; }
  .c-icon-box__icon {
    align-self: center; }
  .c-icon-box__text {
    font-size: 0.75rem;
    margin-top: 15px; }

.c-label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase; }

.c-list__item {
  margin-bottom: 12px; }

.c-list--unstyled {
  list-style-type: none; }

.c-nav__item {
  color: #ffffff;
  display: block;
  font-size: 0.875rem;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .c-nav__item:hover {
    color: #ffffff; }
  @media (min-width: 1200px) {
    .c-nav__item {
      display: inline-block;
      margin-left: 25px;
      width: auto; } }

.t-clinic-locator {
  background: linear-gradient(45deg, #3e5cc5 0%, #5b8af8 100%);
  padding-bottom: 45px;
  padding-top: 40px; }
  @media (min-width: 1200px) {
    .t-clinic-locator {
      background: url("../images/map.png") 10% 80% no-repeat, linear-gradient(45deg, #3e5cc5 0%, #5b8af8 100%);
      padding-top: 200px; } }
  .t-clinic-locator__btn {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0; }
  .t-clinic-locator__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 25px; }
  .t-clinic-locator__content {
    width: 100%; }
    @media (min-width: 1200px) {
      .t-clinic-locator__content {
        max-width: 500px;
        text-align: right; } }
  .t-clinic-locator__heading {
    margin-bottom: 15px; }
  .t-clinic-locator__subheading {
    color: #ffffff;
    margin-bottom: 40px; }
  .t-clinic-locator__right {
    display: flex;
    justify-content: flex-end; }

.t-our-assets {
  padding-top: 60px; }
  .t-our-assets__item {
    margin-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-our-assets__item {
        margin-bottom: 100px; } }

.t-our-company {
  padding-bottom: 60px;
  padding-top: 90px; }
  .t-our-company__buttons {
    display: flex;
    flex-wrap: wrap; }
  .t-our-company__btn {
    margin-right: 30px;
    margin-bottom: 25px; }
  .t-our-company__left {
    margin-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-our-company__left {
        margin-bottom: 0; } }
  .t-our-company__right {
    text-align: center; }
    @media (min-width: 800px) {
      .t-our-company__right {
        padding-right: 30px;
        text-align: right; } }

.t-posts-list {
  background-color: #f9fbfe;
  padding-top: 40px;
  position: relative; }
  @media (min-width: 1200px) {
    .t-posts-list {
      height: 380px; } }
  .t-posts-list__content {
    padding-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-posts-list__content {
        background-color: #f9fbfe;
        clip-path: ellipse(68% 450px at 50% 0);
        left: 0;
        position: absolute;
        right: 0;
        top: 80px;
        z-index: 1000; } }
  .t-posts-list__item {
    margin-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-posts-list__item {
        margin-bottom: 20px; } }
  .t-posts-list__image {
    margin-bottom: 25px;
    max-width: 349px;
    position: relative; }
  .t-posts-list__badge {
    background: linear-gradient(45deg, #3e5cc5 0%, #5b8af8 100%);
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
    padding: .5rem 1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 70%; }

.t-site-header {
  background: url("../images/header-tlo.jpg") 0 0 no-repeat; }
  @media (min-width: 1200px) {
    .t-site-header {
      clip-path: ellipse(68% 450px at 50% 28%);
      padding-bottom: 40px; } }
  .t-site-header__btn-divider {
    color: #ffffff;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    margin: 20px; }
    @media (min-width: 800px) {
      .t-site-header__btn-divider {
        display: inline-block; } }
  .t-site-header__divider {
    background-color: #ffffff;
    height: 1px;
    opacity: .75; }
  .t-site-header__hero {
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center; }
    @media (min-width: 1200px) {
      .t-site-header__hero {
        padding-bottom: 120px;
        padding-top: 110px;
        min-width: 800px; } }
  .t-site-header__intro-text {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 30px; }
    @media (min-width: 1200px) {
      .t-site-header__intro-text {
        font-size: 1.5rem;
        line-height: 1.66;
        margin-bottom: 60px; } }
  .t-site-header__menu {
    margin-top: 20px; }
    @media (min-width: 1200px) {
      .t-site-header__menu {
        margin-top: 0;
        text-align: right; } }
  .t-site-header__top {
    padding-bottom: 25px;
    padding-top: 25px; }

.t-site-footer {
  padding-left: 15px;
  padding-right: 15px; }
  .t-site-footer .o-row {
    padding-bottom: 40px;
    padding-top: 50px; }
  .t-site-footer__item {
    flex-basis: auto;
    padding-left: 15px; }
    @media (min-width: 800px) {
      .t-site-footer__item:first-child {
        width: 28%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(2) {
        width: 28%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(3) {
        width: 25%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(4) {
        width: 15%; } }
  .t-site-footer__address {
    padding-top: 20px; }
  .t-site-footer__contact-item {
    line-height: 1.8;
    margin-bottom: 20px; }
  .t-site-footer__copy {
    padding-bottom: 25px;
    padding-top: 25px; }
  .t-site-footer__copy-text {
    font-size: 0.625rem; }
  .t-site-footer__heading {
    align-items: center;
    display: flex;
    height: 60px; }
  .t-site-footer__label {
    display: block;
    font-style: 0.875rem;
    margin-bottom: 10px; }
  .t-site-footer__text-heading {
    color: #444444; }

.u-bg-white {
  background-color: #ffffff; }

.u-bg-gray-light {
  background-color: #f9fbfe; }

.u-white {
  color: #ffffff; }

.u-mb-1 {
  margin-bottom: 10px; }

.u-mb-2 {
  margin-bottom: 20px; }

.u-mb-3 {
  margin-bottom: 30px; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

@media (min-width: 1200px) {
  .u-text-lg-right {
    text-align: right !important; } }
