.t-clinic-locator {
    background: $blue-gradient;
    padding-bottom: $grid-base * 4.5;
    padding-top: $grid-base * 4;

    @include large-up {
        background: url('../images/map.png') 10% 80% no-repeat, $blue-gradient;
        padding-top: $grid-base * 20;
    }

    &__btn {
        margin-bottom: $grid-base * 1.5;
        margin-left: $grid-base * 1.5;
        margin-right: 0;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: $grid-base * 2.5;
    }

    &__content {
        width: 100%;

        @include large-up {
            max-width: 500px;
            text-align: right;
        }
    }

    &__heading {
        margin-bottom: $grid-base * 1.5;
    }

    &__subheading {
        color: $white;
        margin-bottom: $grid-base * 4;

    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }
}