.t-posts-list {
    background-color: $gray-light;
    padding-top: $grid-base * 4;
    position: relative;

    @include large-up {
        height: 380px;
    }

    &__content {
        padding-bottom: $grid-base * 4;

        @include large-up {
            background-color: $gray-light;
            clip-path: ellipse(68% 450px at 50% 0);
            left: 0;
            position: absolute;
            right: 0;
            top: $grid-base * 8;
            z-index: 1000;
        }
    }

    &__item {
        margin-bottom: $grid-base * 4;

        @include large-up {
            margin-bottom: $grid-base * 2;
        }
    }

    &__image {
        margin-bottom: $grid-base * 2.5;
        max-width: 349px;
        position: relative;
    }

    &__badge {
        background: $blue-gradient;
        border-radius: $border-radius 0 0 $border-radius;
        color: $white;
        font-size: $font-size-6;
        font-weight: bold;
        padding: .5rem 1rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 70%;
    }
}