.t-site-footer {
    padding-left: $gutter;
    padding-right: $gutter;

    & .o-row {
        padding-bottom: $grid-base * 4;
        padding-top: $grid-base * 5;
    }

    &__item {
        flex-basis: auto;
        padding-left: $gutter;

        &:first-child {
            @include medium-up {
                width: 28%;
            }
        }

        &:nth-child(2) {
            @include medium-up {
                width: 28%;
            }
        }

        &:nth-child(3) {
            @include medium-up {
                width: 25%;
            }
        }

        &:nth-child(4) {
            @include medium-up {
                width: 15%;
            }
        }
    }

    &__address {
        padding-top: $grid-base * 2;
    }

    &__contact-item {
        line-height: $line-height-lg;
        margin-bottom: $grid-base * 2;
    }

    &__copy {
        padding-bottom: $grid-base * 2.5;
        padding-top: $grid-base * 2.5;
    }

    &__copy-text {
        font-size: $font-size-8;
    }

    &__heading {
        align-items: center;
        display: flex;
        height: $grid-base * 6;
    }

    &__label {
        display: block;
        font-style: $font-size-6;
        margin-bottom: $grid-base * 1;
    }

    &__text-heading {
        color: $gray-dark;
    }
}