// Colors
$white: #ffffff;
$black: #000000;
$gray-light: #f9fbfe;
$gray-dark: #444444;
$blue-dark: #3e5cc5;
$blue-light: #d3eafa;
$blue-text: #3b99e1;
$green: #60dc64;
$blue-gradient: linear-gradient(45deg, #3e5cc5 0%, #5b8af8 100%);

//Text
$font-size-base: 1rem; // ~16px
$font-size-1: $font-size-base * 3; //~48px
$font-size-2: $font-size-base * 2; //~32px
$font-size-3: $font-size-base * 1.5; //~24px
$font-size-4: $font-size-base * 1.125; //~18px
$font-size-5: $font-size-base * 1; //~16px
$font-size-6: $font-size-base * 0.875; //~14px
$font-size-7: $font-size-base * 0.75; //~12px
$font-size-8: $font-size-base * 0.625; //~10px

$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 1.8;

// Grid
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// Radius
$border-radius: $grid-base * 0.5;

//Breakpoint
$bp-medium: "800px";
$bp-large: "1200px";
