// From medium devices up 
@mixin medium-up {
    @media(min-width: #{$bp-medium}) {
        @content
    }
}

// From large devices up 
@mixin large-up {
    @media(min-width: #{$bp-large}) {
        @content
    }
}
